.nav-bar-menu-items a{
    color: #fff;
}
.nav-bar-menu-items ul li{
    width:60px;
}
.nav-bar-menu-items ul li:hover{
    background: url(../image/li-hover.png) no-repeat center;
    background-size: cover;
    background-color:#79a09d;
}
.down-nav{
    padding-right: 4px;
}
.right-bar-items ul li span{
    float: left;
}
.right-bar-items ul li a{
    margin: 0 5px;
    cursor: text;
}
.main-content-header{
    color: #E2534B;
    font-size: 35px;
    line-height: 80px;
    font-weight: bolder;
}
.our-team-header{
    font-size: 30px;
    font-weight: bolder;  
    color: darkgray; 
    text-align: center;
}
.li-num{
    font-size: 25px; 
    color: darkgray; 
}
.our-left-button, .our-right-button{
    background: url("../image/buttonborder.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color:darkgray;
}
.our-left-button:hover, .our-right-button:hover{
    background-color: #E3534B;
}