*{
    margin:0;
    padding:0;
}
html { 
    font-size:100%; } 
body{
     /* font-family: 'Kaushan Script', cursive; */
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    background:#fff;
}
img { 
    width: 100%; 
    height: auto; }
li{
    list-style:none;
}
a{
    text-decoration:none;
    /* color:#000; */
}
.main-container{
    width:100%;
}
.page{
    width: 100%;
    margin: 0 auto;
}
section{
    margin-bottom:5em;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
/* IE 8 9 10 chrome latest FF latest */