.header-top,
.header-bottom,
.main-content, 
.col-3-main-wrapper, 
.our-team-content, 
.solution-container-header,
.solution-container-desc,
.our-happy-clients,
.clients-container,
.footer-bottom,
.footer-items{
    margin: 0 auto;
    width:73.125em;
}
.header-top-container{
    background: url('../image/rulers.png') repeat-x left bottom;
    background-color: #77C8C2;
    overflow: auto;
    padding-bottom:1em;
}
.header-top-left{
	padding-top: 1.25em;
    float:left;
}
.header-top-right{
	padding-top: 1.5em;
    float:right;
}
.nav-bar-menu-items{
    float: left;
    position: relative;
}
.nav-bar-menu-items ul li{
    padding: 0.625em 1.25em;
    float:left;
}
.search-icon{
    float: right;
    padding-top:0.5em;
}
.header-bottom-container{
    overflow: auto;
    padding-bottom:1em;
    background-color:#ECECEC;
}
.left-head-menu{
    float:left;
    padding-top:2.125em;
}
.right-head-menu{
    float:right;
    padding-top:2.125em;
}
.main-container-wrapper{
    background: url('../image/downarrow.png') no-repeat left top;
    background-color: #F3F3F3;
    overflow: auto;
    padding-bottom:1em;
}
.col-3-main-wrapper{
    padding: 5em 0;
    background: #F3F3F3;
}
.left-main-content{
    float: left;
    margin-right:0.625em;
}
.right-main-content{
    float:right;
}
.left-right-main-content{
    float:left;
    width: 28.125em;
    margin-right: 0.9375em;
}
.right-right-main-content{
    float:right;
    width:15em;
}
.right-main-content-header, .left-main-content-header{
    overflow: auto;
    padding-bottom:1em;
    font-weight:bolder;
}
.right-main-content-desc{
    padding:0.625em;
    background:#f8f8f8;
    font-size:12pt;
}
.right-main-content-desc span{
    font-style:italic;
}
.persone-name{
    background:url('../image/clipdown.png') no-repeat;
    padding-left:2.5em;
    padding-top:0.9375em;
    font-size:11pt;
    font-weight:bolder;
}
.bottom-content{
    padding-top: 1.25em;
}
.bottom-content img{
    width: 6.25em;
}
.bottom-content ul li{
    float: left;
    text-align: center;
    padding-left: 0.375em;
    position:relative;
    font-size:0.875em;
    font-weight:bolder;
    color:darkgray;
}
.bottom-content .li-num{
    position: absolute;
    left: 1.2em;
    bottom: 0.55em;
}
.our-team-container-wrapper{
    background: url('../image/rulers-w.png') repeat-x left top;
    background-size: 1.875em;
    background-color: #ECECEC;
    padding-top:1.875em;
}
.our-team-content{
    background-color: #ececec;
    padding-top: 3.75em;
    padding-bottom:16em;
}
.client-container{    
    position: relative;
    float: left;
    background: url(../image/b.png) no-repeat center;
    background-size: cover;
    background-color: #f8f8f8;
    padding-bottom:18em;
    padding-left: 15.7em;
    top: 2.5em;
    margin: 0 0.3125em;
}
.client-container:hover{
    background-color:#90d1cb;
}
.button-client:hover{
    background-image: url('../image/hoverframe.png');
    background-color: lightcoral;
}
.image-container{
    background:url('../image/image-icon.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.button-client{
    background: url(../image/border-user.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 20;
    width: 11.125em;
    height: 1.4375em;
    bottom: -1.6556em;
    left: 15%;
    /* font-size: 10.5em; */
    font-weight: bolder;
    text-align: center;
    color: #F3F3F3;
    padding: 0.9375em 0;
    background-color: #77C8C2;
}

.solution-container{
    background: #F3F3F3;
    padding-top: 12.5em;
    text-align: center;
}
.solution-container-header{
    font-size: 1.5625em;
    font-weight: bold;
    line-height: 2em;
    color:#E2534B;
}
.solution-container-desc p{
    padding: 0 5em;
}
.our-happy-clients-container{
    background-color: #F3F3F3;
    overflow: auto;
    padding-bottom:1em;
}
.our-text-container{
    float:left;
    margin-right: 0.3125em;
    padding-top: 0.9375em;
}
.dots{
    float: left;
}
.our-dot-container{
    float: left;
    padding-top: 1.0625em;
    margin-right: -0.3125em;
}
.our-small-dot-container{
    float:left;
    padding-top: 0.75em;
    overflow: auto;
    padding-bottom:1em;
    padding-left: 60.625em;
    background: url('../image/vbar.png') repeat-x left bottom;
    background-size: 0.625em;
}
.our-button-container{
    padding-top:0.9375em;
    float:right;
}
.our-button-container a{
    color:#fff;
    font-weight: bolder;
}
.our-left-button{
    float: left;
    padding:0.1563em 0.4063em;
    margin-right:3.5px;
}
.our-right-button{
    float: right;
    padding:0.1563em 0.4063em;
}
.clients-container-wrapper{
    padding-top: 1.25em;
    padding-left:1.25em;
    overflow: auto;
    padding-bottom:1em;
    background: #F3F3F3;
}
.clients-container div{
    float: left;
    margin: 0 0.3125em;
}
.clients-container img{
    width: 9.75em;
}
.footer-wrapper{
    padding-top: 3.75em;
    background: url('../image/rulers-w.png') repeat-x left top;
    background-color:#77C8C2;
    background-size: 1.5625em;
    overflow: auto;
    padding-bottom:1em;
}
.footer-left{
    float:left;
    width:21.875em;
    color:#fff;
}
.footer-right{
    color:#fff;
}
.company-contents{
    float:left;
    margin-left:2em;
}
.logo-content {
    overflow: auto;
    padding-bottom:1em;
}
.company-contents div, .community-contents div{
    padding-top:1.25em;
    font-weight: bolder;
    color:#7C8986;
    font-size:1em;
    overflow: auto;
    padding-bottom:1em;
}
.community-contents{
    float:left;
    padding:0 0.625em;
    margin-left:5em;
}
.blog-contents{
    float:right;
    width:21.875em;
    padding-top:1.25em;
}
.blog-contents div{
    font-style: italic;
    float:left;
    margin-right: 0.625em;
}
.blog-contents ul li img{
    float: left;
    margin-right:0.625em;
    margin-left:0.625em;
}
.blog-contents ul li{
    padding-top:0.625em;
    font-size:0.875em;
    overflow: auto;
    padding-bottom:1em;
}
.date-span{
    display:block;
    padding-top:0.3125em;
    color  :#7C8986;
    font-size:0.875em;
}
.footer-bottom-wrapper{
    background: #6BB4AD;
    overflow: auto;
    padding-bottom:1em;
}
.icons{
    float:right;
    padding-top:0.1875em;
}
.icons li{
    float:left;
}