.header-wrapper{
    display: block
}
.header-top{
    background: url('../image/rulers.png') repeat-x left bottom;
    display: block;
    padding: 0 150px;
    background-color: #77C8C2;
    padding-bottom:80px;
}
.header-top-left{
	padding-top: 20px;
    float:left;
}
.header-top-right{
	padding-top: 24px;
    float:right;
}
.nav-bar-menu-items{
    display:block;
    float: left;
    position: relative;
}
.nav-bar-menu-items ul li{
    padding: 10px 20px;
    float:left;
}
.search-icon{
    float: right;
    padding-top:8px;
}
.header-bottom{
    display:block;
    padding: 0 150px;
    padding-bottom:80px;
    background-color:#ECECEC;
}
.left-head-menu{
    float:left;
    padding-top:34px;
}
.right-head-menu{
    float:right;
    display: block;
    padding-top:34px;
}
.main-container-wrapper{
    display: block;
    background: url('../image/downarrow.png') no-repeat left top;
    padding: 0 150px;
    background-color: #F3F3F3;
    padding-bottom:200px;
    padding-top:28px;
}
.main-content-desc{
    width: auto;
    display: block;
}
.col-3-main-wrapper{
    padding: 80px 0;
    display: block;
    width:auto;
    background: #F3F3F3;
}
.left-main-content{
    float: left;
    display: block;
    margin-right:10px;
}
.right-main-content{
    display: block;
    float:right;
    width:750px;
}
.left-right-main-content{
    float:left;
    display: block;
    width: 450px;
    margin-right: 15px;
}
.right-right-main-content{
    float:right;
    display:block;
    width:240px;
}
.right-main-content-header, .left-main-content-header{
    padding-bottom:30px;
    font-weight:bolder;
}
.right-main-content-desc{
    padding:10px;
    width:auto;
    background:#f8f8f8;
    font-size:12pt;
}
.right-main-content-desc span{
    font-style:italic;
}
.persone-name{
    background:url('../image/clipdown.png') no-repeat;
    padding-left:40px;
    padding-top:15px;
    font-size:11pt;
    font-weight:bolder;
}
.bottom-content{
    padding-top: 20px;
    display: block;
}
.bottom-content img{
    width: 100px;
}
.bottom-content ul li{
    float: left;
    text-align: center;
    padding-left: 6px;
    position:relative;
    font-size:14px;
    font-weight:bolder;
    color:darkgray;
}
.bottom-content .li-num{
    margin-right:-15px;
    position: absolute;
    left:40px;
    bottom:20px;
}
.right-right-main-content{
    display: block;
}
.our-team-container-wrapper{
    padding: 0 150px;
    display:block;
    background: url('../image/rulers-w.png') repeat-x left top;
    background-size: 30px;
    background-color: #ECECEC;
    padding-top:30px;
}
.our-team-content{
    display: block;
    background-color: #ececec;
    padding-top: 60px;
    padding-bottom:250px;
}
.our-team-list-wrapper{
    position:relative;
    display: block;
}
.client-container{    
    position: relative;    
    float: left;
    background: url('../image/b.png');
    background-repeat: no-repeat;
    background-size:  cover;  
    background-color: #f8f8f8;
    padding-right: 250px;
    padding-top: 250px;
    top: 40px;
    margin: 0 5px;
}
.client-container:hover{
    background-color:#90d1cb;
}
.button-client:hover{
    background-image: url('../image/hoverframe.png');
    background-color: lightcoral;
}
.image-container{
    display:block;
    background:url('../image/image-icon.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.button-client{
    background: url('../image/border-user.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 20;
    width: 178px;
    height: 23px;
    bottom: -26.49px;
    left: 15%;
    font-size:18px;
    font-weight: bolder;
    text-align:center;
    color:#F3F3F3;
    padding: 15px 0;
    background-color:#77C8C2;
}

.solution-container{
    display:block;
    background: #F3F3F3;
    padding: 60px 150px;
    padding-top:400px;
    text-align: center;
}
.solution-container-header{
    display: block;
    font-size: 25px;
    font-weight: bold;
    line-height: 80px;
    color:#E2534B;
}
.solution-container-dec{
    display:block;
}
.our-happy-clients{
    display:block;
    padding: 60px 150px;
    background: #f3f3f3;
}
.our-text-container{
    display:block;
    float:left;
    margin-right: 5px;
    padding-top: 15px;
}
.our-dot-container{
    float: left;
    width: auto;
    padding-top: 17px;
}
.our-small-dot-container{
    display: block;
    padding-top:10px;
    background: url('../image/vbar.png') repeat-x left bottom;
    background-size: 5px; 
}
.our-button-container{
    float:right;
}
.our-button-container a{
    color:#fff;
    font-weight: bolder;
}
.our-left-button{
    float: left;
    padding:3px 7px;
    margin-right:3px;
}
.our-right-button{
    float: right;
    padding:3px 8px;
}
.clients-container{
    display:block;
    padding:0 150px;
    padding-top: 20px;
    padding-bottom:120px;
    background: #F3F3F3;
}
.clients-container div{
    float:left;
    margin: 0 5px;
}
.clients-container img{
    width: 160px;
}
.footer-wrapper{
    display:block;
    padding:60px 150px;
    background: url('../image/rulers-w.png') repeat-x left top;
    background-color:#77C8C2;
    background-size: 25px;
    padding-bottom:300px;
}
.footer-left{
    float:left;
    display:block;
    width :250px;
    color:#fff;
}
.footer-right{
    display:block;
    color:#fff;
}
.company-contents{
    float:left;
    display:block;
    margin-left:60px;
}
.logo-content {
    padding-bottom: 10px;
}
.company-contents div, .community-contents div{
    padding-top:20px;
    font-weight: bolder;
    color:#7C8986;
    font-size:18px;
    padding-bottom:10px;
}
.community-contents{
    float:left;
    padding:0 10px;
    margin-left:60px;
    display:block;
}
.blog-contents{
    float:left;
    margin-left:20px;
    display:block;
    width:300px;
    padding-top:20px;
}
.blog-contents div{
    font-style: italic;
    float:left;
    margin-right: 10px;
}
.blog-contents ul li img{
    float: left;
    margin-right:10px;
    margin-left:10px;
}
.blog-contents ul li{
    display:block;
    padding-top:10px;
    font-size:14px;
    padding-bottom:20px;
}
.date-span{
    display:block;
    margin-left:80px;
    color  :#7C8986;
    padding-top:5px;
    font-size: initial;
}
.footer-bottom{
    padding:0 150px;
    display: block;
    background: #6BB4AD;
    padding-bottom: 45px;
}
.icons{
    display: block;
    float:right;
}
.icons li{
    float:left;
    padding-top:5px;
}