.header-section{
    background: url(../images/ves.png) no-repeat center;
    /* background: url(../images/ves.png) no-repeat;
    background-size:cover; */
    height:1000px;
}
/* .header-wrapper{
    background: url(../images/.png) no-repeat;
    height:1000px;
} */
header{
    padding-top:28px;
}
.logo-container{
    float:left;
}
.header-section nav{
    float:right;
}
.header-section nav a, .search-icon{
    margin: 15px;
    color:#fff;
    text-transform:uppercase;
    padding-bottom:12px;
    font-size:14px;
    font-weight:400 ;
}
.header-section nav a:hover{
    border-bottom: 2px solid #fce38a;
    color:#fce38a;
}
.logo-container a{
    color:#fff;
    font-weight:bold;
    font-size:30px;
}
.welcome-text-container{
    padding-top:250px;
    text-align:center;
}   
.line-rectangle{
    width:60px;
    height:3px;
    background:#fff;
    margin:0 auto;
    margin-top:20px;
    margin-bottom:50px;
}
.learn-more-button a{
    border:2px solid white;
    padding: 10px 30px;
    text-transform:uppercase;
    color:#fff;
}
.learn-more-button a:hover{
    border:2px solid #fce38a;
    color:#fce38a;
}
.slider-container{
    display:inline-block;
    margin:0 auto;
    margin-top:50px;
}
.lines{
    float:left;
    margin:15px;
    text-align:left;
    color:gray;
}
.lines span{
    font-size:18px;
    font-weight: bolder;
    padding-right:3px;
}
.lines .line-rectangle-l{
    width:210px;
    height:3px;
    background:#fff;
    display:block;
}
.body-container{
    text-align:center;
}
.about-us-container h1{
    font-weight:bolder;
    font-size:30px;
}
.about-us-container span{
    font-size: 24px;
}
.about-us-line{
    background: #f38181;
}
.about-us-container p{
    color:gray;
}
.about-us-image{
    display:inline-block;
    margin:0 auto;
    margin-top:90px;
}
/* .about-us-image:hover{
    display:block;
    margin:0 auto;
    margin-top:90px;
} */
.image-list{
    background: #95e1d3;
    width:380px;
    height:250px;
    margin-right:30px;
    float:left;
}
.image-for-s{
    background:url(../images/users.png);
    background-size: cover;
}
.image-for-c{
    background:url(../images/1.png);
    background-size: cover;
}
.image-for-a{
    background:url(../images/2.png);
    background-size: cover;
    margin-right: 0;
}
.facts-container{
    margin-top:110px;
    background: #95e1d3;
}
.numbers-list .numbers-dat{
    width:240px;
    height:270px;
    float:left;
    border-left: 1px solid gray;
    text-align:center;
    color:#fff;
}
.numbers-list .numbers-dat span{
    display:block;
    font-weight:bolder;
    font-size:72px;
    color:#fff;
}
.numbers-list .numbers-dat li{
    font-size:14px;
}
.numbers-dat-l{
    border-left: 0;
}
