*{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
    color: darkgrey;
}
li{
    list-style: none;
}
body{
    font-family:calibri;
    color:#828e8a;    
}
.actual{
    width:73.125em;
    margin: 0 auto;
}